.footerMobile
    width: 100%
    height: 10vh
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 2rem 0 2rem
    background-color: rgb(240,240,240)
    margin-top: 5rem
    p
        font-size: 1.4rem
    img
        width: 3rem

.footerDesktop
    width: 100%
    height: 10vh
    display: flex
    justify-content: space-between
    gap: 2rem
    align-items: center
    padding: 0 2rem 0 2rem
    margin-top: 10vh
    background-color: rgb(240,240,240)

    .item
        display: flex
        align-items: center
        gap: 2rem

        .link
            p
                color: darkBlue
                font-size: 1.6rem
                cursor: pointer
        p
            font-size: 1.6rem

        button
            border: none
            b
                font-size: 1.6rem
                cursor: pointer

        img
            width: 5rem
