// NAVBAR MOBILE
.mobile-navbar
    z-index: 2
    background-color: rgba(252,252,252,1)
    position: fixed
    width: 100%
    min-height: 7rem
    box-shadow: 0px 6px 17px 6px rgba(0,0,0,0.55)
    .top-container
        margin: 1rem 2rem 0 2rem
        @include flexbox(row, space-between, center)
        .logo
            font-family: "Coverse Allstars"
            font-size: 2.4rem
            font-weight: 300
        .menu-btn
            transition: 0.2s ease-in-out
        .menu-btn.rotate
            transform: rotate(90deg)
    .menu
        @include width-height(100%,0)
        @include flexbox(column, center, center)
        transition: all 0.2s linear
        gap: 4rem
        overflow: hidden

        .nav-link
            text-transform: uppercase
            font-size: 1.8rem
            font-weight: 400
        .social-link
            @include width-height(6rem,6rem)

    .menu.showMenu
        height: 28rem

.bg-layer
    @include set-position(fixed, none, none, 0,0)
    @include width-height(100vw,0)
    z-index: 2
    background-color: rgba(33,33,33,0.92)
    transition: all 0.2s ease-in-out

.bg-layer.active
    height: 100vh

// NAVBAR DESKTOP
.desktop-navbar
    @include flexbox(row, space-between,center)
    @include width-height(100vw, 7rem)
    z-index: 2
    position: fixed
    padding: 0 4rem 0 4rem
    background-color: rgba(252,252,252,1)
    box-shadow: 0px 6px 17px 6px rgba(0,0,0,0.72)

    .logo
        font-family: "Coverse Allstars"
        font-size: 3rem
        cursor: pointer
    .links
        @include flexbox(row, center,center)
        .nav-link
            color: rgba(50,50,50,0.8)
            font-weight: 400
            text-transform: uppercase
            font-size: 1.8rem
            cursor: pointer
            margin-right: 3rem
            &:hover
                color: black
                transition: all 0.3s
        .social-link
            @include width-height(5rem,5rem)
            cursor: pointer
