.slider-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

    .slider
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        gap: 1.5rem

        .image
            opacity: 0.5
            object-fit: cover
            -webkit-box-shadow: 4px 14px 20px 3px rgba(0,0,0,0.49)
            box-shadow: 4px 14px 20px 3px rgba(0,0,0,0.49)
            border-radius: 0.8rem
            background-color: black

        .image.display
            opacity: 1
            transition: all 0.4s ease

        .prevArrow
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
            img
                transform: rotate(180deg)

        .forArrow
            position: absolute
            top: 50%
            right: 0
            transform: translateY(-50%)

        .title
            font-size: 2rem

    .slider-details
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        gap: 2rem
        padding: 0 1rem 0 1rem
        margin-top: 2rem
        h2
            width: 100%
            font-size: 2rem
            text-align: start

        .description
            font-size: 1.6rem
            min-height: 13rem

        .download
            display: flex
            justify-content: center
            display: flex
            justify-content: center
            align-items: center
            gap: 2rem
            background-color: #198754
            border-radius: 0.5rem
            padding: 1rem
            p
                color: white
                font-size: 2rem
                font-weight: 300
            img
                width: 4rem

@include respond(desktop)
    .slider-container
        flex-direction: row
        max-width: 120rem
        padding: 2rem
        border-radius: 1rem

        .slider
            flex: 1
            gap: 2.5rem
            .prevArrow
                cursor: pointer

            .forArrow
                cursor: pointer

            .title
                font-size: 2.4rem

        .slider-details
            flex: 2
            h2
                width: 100%
                font-size: 2.4rem
                text-align: start

            .description
                font-size: 2rem
                min-height: 13rem

            .download
                cursor: pointer
                p
                    cursor: pointer
                    font-size: 2.4rem
