.home
    width: 100%
    height: 100%
    header
        margin-top: 7rem
        height: 25rem
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-image: url('../../assets/images/header_mobile.jpg')
        background-size: cover
        background-position: center
        position: relative

        .header-title
            font-family: "Coverse Allstars"
            font-size: 2.8rem
            font-weight: 200
            color: white
        .header-description
            margin-top: 1rem
            text-align: center
            font-weight: 300
            font-size: 2.5rem
            width: 20rem
            line-height: 4rem
            color: white
        .header-image-desktop
            position: absolute
            bottom: 0
            left: 0
            img
                width: 50rem
        .doubleDown
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%)
            margin-bottom: 5rem
            animation: shine 1.5s ease-in infinite

    .showmore
        display: flex
        justify-content: center
        align-items: center
        animation: shine 2s linear infinite
        margin: 2rem 0 2rem 0

        h6
            font-size: 2rem
            color: rgb(50,50,70)
            text-align: center
            margin: 0 1rem 0 1remw
        img
            width: 4rem
            &:first-child
                transform: rotate(-90deg)
            &:last-child
                transform: rotate(90deg)

@keyframes shine
    0%
        opacity: 0.4

    50%
        opacity: 1

    100%
        opacity: 0.4

@include respond(desktop)
    .home
        width: 100%
        height: 100%
        header
            margin: 0
            height: 100vh
            background-image: url('../../assets/images/header_desktop.jpg')
            .header-title
                font-family: "Coverse Allstars"
                font-size: 6rem
                font-weight: 300
                color: white
            .header-description
                margin-top: 2.5rem
                text-align: center
                font-weight: 300
                font-size: 5rem
                width: 40rem
                line-height: 7rem
                color: white

        .showmore
            h6
                font-size: 2.4rem
                color: rgb(50,50,70)
                text-align: center
                margin: 0 1rem 0 1rem
                cursor: pointer
            img
                width: 4rem
                &:first-child
                    transform: rotate(-90deg)
                &:last-child
                    transform: rotate(90deg)
        .last-articles
            h2
                font-size: 3rem
                margin-left: 2rem
