@font-face
    font-family: "Coverse Allstars"
    src: url("../../assets/fonts/coverse.TTF") format("truetype")

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Noto+Sans:wght@300;400&display=swap')

*
    box-sizing: border-box
    cursor: default
    margin: 0
    padding: 0
    overflow-x: hidden
    font-family: "Josefin Sans"

html
    position: relative
    margin: 0
    padding: 0
    font-size: 62.5%

body
    margin: 0
    padding: 0
    scroll-behavior: smooth
    overflow-x: hidden
    background-attachment: fixed
    background-color: rgb(90,90,90)
    color: rgb(33,33,33)

.link
    text-decoration: none
    color: rgb(33,33,33)
